div {
  width: 150px;
  height: 150px;
  display: flex;
  margin: 5px;
}

.one {
  background: linear-gradient(red, green);
}

.two {
  background: linear-gradient(to top, red, green);
}

.three {
  background: linear-gradient(45deg, red, green);
}

.four {
  background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3));
}

body {
  background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(0, 255, 255, 1));
}
